.danger {
    background-color: brown;
}

.signin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.signin-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 3px solid blanchedalmond; */
}

.signin-container form label {
    margin: 5px;
    text-align: left;
}

.signin-container form input {
    margin-bottom: 15px;
    width: 200px;
    height: auto;
    background-color: rgb(211, 206, 206);
    border-radius: 20px;
}

.signin-container form button {
    width: 200px;
    height: auto;
    background-color: rgb(60, 60, 233);
    color: white;
    margin: 20px 0px 40px 0px;
    border-radius: 20px;
}

.sigin-or div {
    margin: 20px;
    text-align: center;
}

#newAcc-link {
    border: 2px solid black;
    width: 200px;
    height: 20px;
    padding: 5px;
    border-radius: 20px;
}

#link-none {
    text-decoration: none;
    color: black;
}