* {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}
button {
  border: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
