.brands-container-arch,
.brands-container-harley,
.brands-container-yamaha,
.brands-container-bmw,
.brands-container-ducati {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-column: 1;
  width: 100vw;
}
.brands-container-harley,
.brands-container-bmw {
  background-color: #c5baaf;
  background-image: linear-gradient(to top, #c5baaf, #E3DDD8, #FFFFFF 25%);
}
.brands-container-yamaha,
.brands-container-ducati {
  background-color: #424B54;
  background-image: linear-gradient(to top, #424B54, #93979b, #FFFFFF 25%);
}


.brands-image-harley,
.brands-image-yamaha,
.brands-image-bmw,
.brands-image-ducati {
  width: 800px;
  grid-column: 3;
}
.brands-image-arch-desk {
  width: 100vw;
  grid-column: 1/6;
  grid-row: 1 /span 4;
}
.brands-image-arch-mobile {
  display: none;
  width: 100vw;
  grid-column: 1/6;
  grid-row: 1 /span 4;
}

.brands-image-ducati {
}
.brands-shop,
.brands-sell {
  border-radius: 25px;
  width: 80px;
  grid-column: 3;
  grid-row: 3;
  align-self: center;
  justify-self: center;
  text-align: center;
  height: 30px;
  padding-top: 3px;
  font-weight: 500;
}
.brands-name {
  display: grid;
  grid-column: 3;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  font-size: 30px;
  font-weight: 500;
}
.brands-name-arch {
  display: grid;
  grid-column: 4;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  font-size: 30px;
  font-weight: 500;
}
.brands-shop {
  margin-right: 110px;
  background-color: #262C31;
  color: #FFFFFF;
}
.brands-sell {
  margin-left: 110px;
  background-color: #E2E2E3;
  color: #000000;
}
@media only screen and (max-width: 375px) {
  .brands-image-harley,
  .brands-image-yamaha,
  .brands-image-bmw,
  .brands-image-ducati {
    width: 300px;
  }
  .brands-image-arch-mobile {
    display: block;
  }
  .brands-image-arch-desk{
    display: none;
  }
  .brands-name-arch {
    padding-top: 15px;
  }
}
