.search-container img {
    max-width: 800px;
    max-height: auto;
}

.search-container-logo {
    display: flex;
    width: 100vw;
    padding: 240px;
    background-color: #424b54;
    background-image: linear-gradient(to top, #424b54, #93979b, #ffffff 25%);
}

.search-logo {
    display: flex;
    width: 350px;
    margin: auto;
}

.search-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-column: 1;
    width: 100vw;
    background-color: #c5baaf;
    background-image: linear-gradient(to top, #c5baaf, #e3ddd8, #ffffff 30%);
}

.search-name,
.search-img,
.search-price {
    grid-column: 3/4;
    align-self: center;
    justify-self: center;
}

.search-name {
    grid-row: 1/2;
}

.search-img {
    grid-row: 2/3;
}

.search-price {
    grid-row: 3/4;
}

.search-sell,
.search-manage {
    border-radius: 25px;
    width: 80px;
    grid-column: 3;
    grid-row: 4;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-weight: 500;
}

.search-manage {
    margin-right: 110px;
    background-color: #262c31;
    color: #ffffff;
}

.search-sell {
    margin-left: 110px;
    background-color: #e2e2e3;
    color: #000000;
}