.nav-container {
  display: grid;
  position: fixed;
  width: 100vw;
  grid-template-columns: 50px 50px 2fr 150px 72px 52px 60px 63px 1fr 50px .8fr 50px 50px;
  grid-template-rows: 50px;
}

.nav-logo,
.nav-navlinks-harley,
.nav-navlinks-yamaha,
.nav-navlinks-arch,
.nav-navlinks-bmw,
.nav-navlinks-ducati,
.nav-search,
.nav-navlinks-account,
.hamburger-menu {
  font-weight: 500;
  justify-self: center;
  align-self: center;
  grid-row: 1;
}
.nav-logo {
  width: 50px;
  height: 50px;
  grid-column: 2/3;
}
.nav-navlinks-harley {
  grid-column: 4/5;
}
.nav-navlinks-yamaha {
  grid-column: 5/6;
}
.nav-navlinks-arch {
  grid-column: 6/7;
}
.nav-navlinks-bmw {
  grid-column: 7/8;
}
.nav-navlinks-ducati {
  grid-column: 8/9;
}
.nav-search {
  grid-column: 10/11;
}
.nav-navlinks-account {
  grid-column: 11/12;
}
.hamburger-menu {
  grid-column: 12/13;
}
.nav-auth-navlinks-account {
  grid-column: 11/12;
  grid-row: 1/2;
  justify-self: start;
  align-self: center;
  padding-left: 5px;
}
.nav-navlinks-signout {
  grid-column: 11/12;
  grid-row: 1/2;
  justify-self: end;
  align-self: center;
  padding-right: 5px;
}

.exit-icon {
  display: none;
  grid-column: 12/14;
  grid-row: 1;
  z-index: 5;
}
.nav-ham-list {
  display: none;
  grid-column: 13/14;
  z-index: 5;
  align-content: flex-start;
  padding: 0 70px;
}
.active-menu {
  grid-column: 10/14;
  display: grid;
  width: 100%;
  z-index: 1;
  height: 100vh;
  background-color: #ffffff;
}

.active-menu img {
  position: absolute;
  width: 18px;
  top: 0;
  right: 67px;
  padding-top: 15px;
}
.nav-contact {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #000000;
}
.shade {
  background-color: #0000000a;
  width: 100vw;
  height: 100vh;
}